{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div role="main" id="main" class="cf">

        <!-- headline -->
        <div class="headline">HALFTONE IS STYLISH AND CUTE</div>
        <!-- ENDS headline -->


        <!-- featured -->
        <ul class="feature cf">
            {% for post in posts %}
                <li>
                    <a href="{% url 'blog_post' post_slug=post.slug %}" class="thumb">
                        {% for key, value in images.items %}
                            {% if key == post.id %}
                                {{ value|safe }}
                            {% endif %}
                        {% endfor %}
                        <div class="img-overlay"><i class="icon-plus-sign"></i></div>
                        <div class="date"><span class="m">{{ post.created_at|date:'b' }}</span><span class="d">{{ post.created_at|date:'d' }}</span></div>
                    </a>
                    <a href="{% url 'blog_post' post_slug=post.slug %}" class="excerpt">{{ post.title }}</a>
                    <div class="categories">
                        {% for tag in post.tag.iterator %}
                            <a href="{% url 'blog_tag' tag_slug=tag.name %}">{{ tag.name }}, </a>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <!-- ENDS featured -->

    </div>
    <!-- ENDS MAIN -->
{% endblock %}